{% extends "base.html" %}	
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<h3>Categories</h3>
				{% for category in categories %}
					print ({{ category.name }})
					<br>
				{% endfor %}
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h3>Recently Added</h3>
				{% for category in categories %}
					print ({{ category.name }})
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}