{% extends "base.html" %}	
{% block content %}
	<div class="container">
		<div class="row">
			<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 item'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class='list-unstyled'>
					{% for message in messages %}
						<li> <strong> {{ message }} </strong></li>
					{% endfor %}
					</ul>
				{% endif %}
				{% endwith %}
				<h2 class='item-title'>{{item.name}}</h2>
				<p class='edit-delete'>
					<a href="{{ url_for('editItem', item_id=item.id, category_id=category_id) }}">Edit</a> | 
					<a href="{{ url_for('deleteItem', item_id=item.id, category_id=category_id) }}">Delete</a>
				</p>
				{{item.description}}
				<br>
				<br>
			</div>
		</div>
	</div>
{% endblock %}