{% extends "base.html" %}

{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 item'>
			<h1>Add a New Item</h1>

			<form action="{{ url_for('newItem') }}" method='post'>

				<p>
					Name:
					<br>
					<input type='text' size'30' name='name'>
				</p>
				<p>
					Category:
					<br>
					<select name="category">
						<option disabled selected value> -- select a category -- </option>
						<option value="Audi">Audi</option>
						<option value="BMW">BMW</option>
						<option value="Chevrolet">Chevrolet</option>
						<option value="Ford">Ford</option>
						<option value="Honda">Honda</option>
						<option value="Jeep">Jeep</option>
						<option value="Mazda">Mazda</option>
						<option value="Nissan">Nissan</option>
						<option value="Subaru">Subaru</option>
						<option value="Tesla">Tesla</option>
						<option value="Volvo">Volvo</option>
					</select>
				</p>
				<p>
					Description:
					<textarea name='description' class='description-box'></textarea>
				</p>
				<input type='submit' value='Add' name='submit'>
				<input type='submit' value='Cancel' name='submit'>
				<br>
				<br>

			</form>
		</div>
	</div>
</div>
{% endblock %}